

/*--------------------------------------------------------------------- File Name: style.css ---------------------------------------------------------------------*/


/*--------------------------------------------------------------------- import Fonts ---------------------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Rajdhani:300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Baloo+Chettan&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900|Righteous&display=swap');

/*****---------------------------------------- 1) font-family: 'Rajdhani', sans-serif;
 2) font-family: 'Poppins', sans-serif;
 ----------------------------------------*****/


/*--------------------------------------------------------------------- import Files ---------------------------------------------------------------------*/

@import url(animate.min.css);
@import url(normalize.css);
@import url(icomoon.css);
@import url(font-awesome.min.css);
@import url(meanmenu.css);
@import url(owl.carousel.min.css);
@import url(swiper.min.css);
@import url(slick.css);
@import url(jquery.fancybox.min.css);
@import url(jquery-ui.css);
@import url(nice-select.css);

/*--------------------------------------------------------------------- skeleton ---------------------------------------------------------------------*/

* {
     box-sizing: border-box !important;
}

html {
     scroll-behavior: smooth;
}

body {
     color: #666666;
     font-size: 14px;
     font-family: 'Lato', sans-serif;
     line-height: 1.80857;
     font-weight: normal;
}

a {
     color: #1f1f1f;
     text-decoration: none !important;
     outline: none !important;
     -webkit-transition: all .3s ease-in-out;
     -moz-transition: all .3s ease-in-out;
     -ms-transition: all .3s ease-in-out;
     -o-transition: all .3s ease-in-out;
     transition: all .3s ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
     letter-spacing: 0;
     font-weight: normal;
     position: relative;
     padding: 0 0 10px 0;
     font-weight: normal;
     line-height: normal;
     color: #111111;
     margin: 0
}

.section-features img {
    position: absolute;
    left: 50px;
    height: 380px;
    margin-right: 20px;
}


h1 {
     font-size: 50px;
     font-family: 'Baloo Chettan', cursive;
     text-align: center;
}

h2 {
     font-size: 30px;
     font-family: 'Baloo Chettan', cursive;
     text-align: center;


}
span{
     margin-right: 20px;
}
h3 {
     font-size: 18px;
     font-family: 'Baloo Chettan', cursive;
}

h4 {
     font-size: 16px
}

h5 {
     font-size: 14px
}

h6 {
     font-size: 13px
}

*,
*::after,
*::before {
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
     color: #212121;
     text-decoration: none!important;
     opacity: 1
}

button:focus {
     outline: none;
}
p{
    text-align: center;
}
ul,
li,
ol {
     margin: 0px;
     padding: 0px;
     list-style: none;
}

a {
     color: #222222;
     text-decoration: none;
     outline: none !important;
}

a,

img {
     max-width: 50%;
     height: auto;
     margin-right: 50px;
}

 :focus {
     outline: 0;
}


.lead {
     font-size: 18px;
     line-height: 30px;
     color: #767676;
     margin: 0;
     padding: 0;
}

.form-control:focus {
     border-color: #ffffff !important;
     box-shadow: 0 0 0 .2rem rgba(255, 255, 255, .25);
}

.navbar-form input {
     border: none !important;
}

.badge {
     font-weight: 500;
}

blockquote {
     margin: 20px 0 20px;
     padding: 30px;
}

button {
     border: 0;
     margin: 0;
     padding: 0;
     cursor: pointer;
}

.full {
     float: left;
     width: 100%;
}

.layout_padding {
     padding-top: 90px;
     padding-bottom: 90px;
}

.layout_padding_2 {
     padding-top: 75px;
     padding-bottom: 75px;
}

.light_silver {
     background: #f9f9f9;
}

.theme_bg {
     background: #38c8a8;
}

.margin_top_30 {
     margin-top: 30px !important;
}

.full {
     width: 100%;
     float: left;
     margin: 0;
     padding: 0;
}


/**-- heading section --**/


/*---------------------------- preloader area ----------------------------*/

.main-layout {
     background-repeat: no-repeat;
     background: url(../images/body_bg.png);
}

.loader_bg {
     position: fixed;
     z-index: 9999999;
     background: #fff;
     width: 100%;
     height: 100%;
}

.loader {
     height: 100%;
     width: 100%;
     position: absolute;
     left: 0;
     top: 0;
     display: flex;
     justify-content: center;
     align-items: center;
}

.loader img {
     width: 280px;
}


/*-- navigation--*/

.navigation.navbar {
     padding-top: 12px;
}
label.radio-inline{
     color: #505355 ;
     margin-left: 10px;
}
.navigation.navbar-dark .navbar-nav .nav-link {
     padding: 0 25px;
     color: #fff;
     font-size: 16px;
     line-height: 20px;
     text-transform: uppercase;
}

.navigation.navbar-dark .navbar-nav .nav-link:focus,
.navigation.navbar-dark .navbar-nav .nav-link:hover {
     color: #000;
}

.navigation.navbar-dark .navbar-nav .active>.nav-link,
.navigation.navbar-dark .navbar-nav .nav-link.active,
.navigation.navbar-dark .navbar-nav .nav-link.show,
.navigation.navbar-dark .navbar-nav .show>.nav-link {
     color: #fdd430;
}


/*-- header area --*/


/*--------------------------------------------------------------------- top banner area ---------------------------------------------------------------------*/


/*--------------------------------------------------------------------- layout new css ---------------------------------------------------------------------*/

.site-header {
     position: absolute;
     padding: 50px 0 0;
     background-color: transparent;
     width: 100%;
     z-index: 3;
 }
 
 /* Site-logo */
 .site-title {
     font-size: 18px;
     line-height: 26px;
     color: #26272d;
 }
 
 .site-title:hover {
     color: #26272d;   
 }
 
 .site-title span {
     font-weight: 700;
 }
 
 .site-title a:hover {
     color: #fff;
 }
 
 /* Navigation */
 .navbar-collapse {
     text-align: center;
 }
 
 .navbar-nav {
     float: none;
     display: inline-block;
 }
 
 .navbar-nav > li > a, 
 .slicknav_nav > li > a {
     padding: 0;
     font-size: 16px;
     position: relative;
     color: #26272d;
     line-height: 26px;
 }
 
 .site-header-white .navbar-nav > li > a,
 .site-header-white .site-title {
     color: #fff;
 }
 
 .navbar-nav > li > a i {
     margin-left: 5px;
 }
 
 .navbar-nav > li + li {
     margin-left: 30px;
 }
 ::placeholder{
      color: gray;
 }
 .nav .open > a, 
 .nav .open > a:focus, 
 .nav .open > a:hover,
 .navbar-nav > li > a:hover,
 .navbar-nav > li > a:focus,
 .navbar-nav > li.active > a,
 .navbar-collapse li a:hover,
 .dropdown.open > a, 
 .site-header-white .dropdown.open > a,
 .dropdown-menu a:hover, 
 .dropdown:hover > a, 
 .dropdown-menu>li>a:focus,
 .dropdown-menu li a:hover,
 .slicknav_nav > li.active a,
 .slicknav_open .slicknav_arrow,
 .slicknav_nav > li a:hover {
     background-color: transparent;
     color: #6fc754;
 }
 
 .navbar-toggle {
     border-color: #fff;
     margin: 0 15px 0 0;
     position: relative;
     top: -1px;
 }
 
 .navbar-toggle:hover,
 .navbar-toggle[aria-expanded=true] {
     background-color: #fff;
     border-color: #000;
     cursor: pointer;
 }
 
 .navbar-toggle:hover .icon-bar,
 .navbar-toggle[aria-expanded=true] .icon-bar {
     background-color: #000;
 }
 
 .navbar-toggle  .icon-bar {
     background-color: #fff;
 }
 
 .navbar-nav .dropdown-menu {
     display: block;
     opacity: 0;
     visibility: hidden;
     border-radius: 0;
     min-width: 130px;
     border: 0;
     border-top: 5px solid #6fc754;
     top: 140%;
     transition: all 0.4s;
     -moz-transition: all 0.4s;
     -webkit-transition: all 0.4s;
     -o-transition: all 0.4s;
     -ms-transition: all 0.4s;
 }
 
 .navbar-nav li a:hover + .dropdown-menu,
 .navbar-nav .dropdown-menu:hover {
     opacity: 1;
     visibility: visible;
     top: 100%;
     transition-delay: 0s;
 }
 
 .dropdown-menu li a {
     padding: 5px 15px;
     position: relative;
     left: 0;
 }
 
 .dropdown-menu li a:hover {
     left: 15px;
 }
 
 /* HERO
 ================================================== */
 .hero { 
     background: url(../images/pic1.jpeg) no-repeat center / cover; 
     height: 100%;
     width: 100%;
     display: table;
     position: relative;
    
 }
 
 .overlay:before {
   content: '';
   background-color: rgba(255,255,255,0.5);
   height: 100%;
   width: 100%;
   position: absolute;
   top: 0;
   left: 0;
   z-index: 0;
 }
 
 .hero-content {
     display: table-cell;
     vertical-align: middle;
     padding-top: 75px;
 }
 
 .hero-text {
     max-width: 890px;
     width: 100%;
     margin: 0 auto;
     padding: 0 15px;
     text-align: center;
 }
 
 .hero-text h1 {
     position: relative;
     margin: 0;
 }
 
 .hero-text p {
     position: relative;
     margin: 45px 0 30px;
     font-size: 20px;
     color: #26272d;
 }
 
 .hero-text .btn {
     position: relative;
     background-color: transparent;
 }
 
 .hero-text .btn:hover {
     background-color: #26272d;
     color: #fff;
 }
 
 .hero .breadcrumb {
     padding-top: 60px;
     margin-bottom: 0;
 }
 
 .hero .breadcrumb:before {
     content: '';
     display: block;
     position: absolute;
     left: 50%;
     bottom: 45px;
     height: 12px;
     width: 80px;
     border-top: 5px solid #fff;
     border-bottom: 3px solid #fff;
     transform: translateX(-50%);
     -moz-transform: translateX(-50%);
     -webkit-transform: translateX(-50%);
     -o-transform: translateX(-50%);
     -ms-transform: translateX(-50%);
 }
 
 .site-section {
    padding: 100px 0 140px;
 }
 
 .subheading-text {
     font-size: 20px;
     font-style: italic;
 }
 
 .heading-separator {
     position: relative;
     margin: 0;
     padding-bottom: 70px;
 }
 
 .heading-separator:after {
     content: "";
     position: absolute;
     bottom: 25px;
     left: 0;
     right: 0;
     height: 2px;
     width: 50px;
     margin: 0 auto;
     background-color: #267df4;
 }
 
 /* Section: Features */
 .section-features h2 {
     padding-bottom: 40px;
     font-size: 30px;
 }
 
 .section-features img {
     position: absolute;
     right: 15px;
     height: 380px;
 }
 
 /* Section: Services */
 .section-services .subheading-text {
     margin-bottom: 90px;
 }
 
 .section-services .col-md-3:nth-child(n+5) .service {
     margin-top: 60px;
 }
 
 .service {
     min-height: 250px;
 }
 
 .service-title {
     margin: 35px 0 25px;
     font-size: 13px;
     text-transform: uppercase;
 }
 
 .service-info {
     font-size: 13px; 
 }
 /* SITEMAIN
 ================================================== */
 /* site-section */
 .site-section {
    padding: 100px 0 140px;
 }
 
 .subheading-text {
     font-size: 20px;
     font-style: italic;
 }
 
 .heading-separator {
     position: relative;
     margin: 0;
     padding-bottom: 70px;
 }
 
 .heading-separator:after {
     content: "";
     position: absolute;
     bottom: 25px;
     left: 0;
     right: 0;
     height: 2px;
     width: 50px;
     margin: 0 auto;
     background-color: #267df4;
 }
 
 .overlay:before {
     content: '';
     background-color: rgba(255,255,255,0.5);
     height: 100%;
     width: 100%;
     position: absolute;
     top: 0;
     left: 0;
     z-index: 0;
 }
 .img-res {
    display: block;
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}
.section-features img {
    position: absolute;
    right: 15px;
    height: 380px;
    margin-right: 20px;
}

/** business section **/

.business {
     padding-top: 90px;
}

.business .titlepage span {
     color: #0891f8;
     font-size: 30px;
     font-family: 'Baloo Chettan', cursive;
     text-transform: uppercase;
     line-height: 37px;
     padding-bottom: 10px;
     display: inline-block;
}

.business .titlepage h2 {
     color: #272f43;
     font-weight: normal;
}

.business .business_box {
     text-align: center;
}

.business .business_box figure {
     margin: 0;
}

.business .business_box figure img {
     width: 100%;
}

.business .business_box p {
     color: #000;
     font-size: 17px;
     line-height: 28px;
     padding: 35px 0px;
}

.business .business_box .read_more {
     background: #252525;
     color: #fff;
}

.business .business_box .read_more:hover {
     background: #0891f8;
}


/** end business section **/


/** projects section **/

.projects {
     padding-top: 90px;
     position: relative;
}

.projects::after {
     position: absolute;
     content: "";
     width: 320px;
     height: 542px;
     right: 0;
     background: url(../images/midil.png);
     top: -210px;
}

.projects .titlepage span {
     color: #505355 ;
     font-size: 30px;
     font-family: 'Baloo Chettan', cursive;
     text-transform: uppercase;
     line-height: 37px;
     padding-bottom: 10px;
     display: inline-block;
}

.projects .titlepage h2 {
     color: #272f43;
     font-weight: normal;
}

.projects .projects_box {
     text-align: center;
}

.projects .projects_box figure {
     margin: 0;
}

.projects .projects_box figure img {
     width: 100%;
}

.projects .projects_box p {
     color: #000;
     font-size: 17px;
     line-height: 28px;
     padding: 60px 0px 35px 0px;
}

.projects .projects_box .read_more {
     background: #252525;
     color: #fff;
}

.projects .projects_box .read_more:hover {
     background: #0891f8;
}


/** end projects section **/


/** Testimonial section **/

.Testimonial {
     background: url(../images/test.png);
     background-repeat: no-repeat;
     margin-top: 90px;
     padding: 90px 0px;
     background-position: center;
     background-size: 100% 100%;
}

.Testimonial .titlepage h2 {
     color: #fff;
     margin-bottom: 0px;
     padding-bottom: 0px;
}

.Testimonial .titlepage span {
     color: #fff;
}

.Testimonial_box i {
     border: #e6e1e1 solid 12px;
     width: 150px;
     height: 150px;
     display: flex;
     align-items: center;
     justify-content: center;
     margin: 0 auto;
     border-radius: 210px;
     cursor: pointer;
     background: #e6e1e1;
}

.Testimonial_box i::after {
     position: absolute;
     content: "";
     width: 50px;
     height: 50px;
     bottom: 40px;
     right: 63px;
     display: inline-block;
     border: #ddd solid 6px;
     border-radius: 30px;
}

.Testimonial_box {
     text-align: left;
}

.Testimonial_box h4 {
     color: #fff;
     text-transform: uppercase;
     font-size: 20px;
     line-height: 20px;
     font-weight: 400;
     padding: 0;
}

.Testimonial_box p {
     color: #fff;
     font-size: 17px;
     line-height: 28px;
     padding: 25px 0;
     padding-right: 200px;
}


/** end Testimonial section **/


/** contact section **/

.padd_leri0 {
     padding-left: 0;
     padding-right: 0;
}

.contact .titlepage span {
     font-size: 17px;
     line-height: 28px;
}

.contact {
     padding-top: 90px;
}

.main_form {
     padding: 50px 50px;
     border:#505355  solid 1px;
     border-radius: 40px;
     margin: 0px 80px;
}

.contact .main_form .form_contril {
     border: #505355  solid 1px;
     margin-bottom: 20px;
     width: 100%;
     height: 45px;
     background: #fff;
     color:#505355 ;
     font-size: 17px;
     border-top: 0;
     border-right: 0;
     border-left: 0;
}

.contact .main_form .textarea {
     border: #505355 solid 1px;
     margin-bottom: 20px;
     width: 100%;
     height: 60px;
     background: #fff;
     color: #60686d;
     font-size: 17px;
     border-top: 0;
     border-right: 0;
     border-left: 0;
}

.contact .main_form .send_btn {
     font-size: 17px;
     transition: ease-in all 0.5s;
     background-color: #000;
     color: #fff;
     padding: 13px 0px;
     margin: 0 auto;
     display: block;
     margin-top: 30px;
     width: 100%;
     max-width: 190px;
}

.contact .main_form .send_btn:hover {
     background-color: #565b5f;
     transition: ease-in all 0.5s;
     color: #fff;
     border-radius: 26px;
}

#contact *::placeholder {
     color: #404447;
     opacity: 1;
}

.current {
     color: #fff;
     margin-top: -4px;
     position: absolute;
}

.con_img figure {
     margin: 0;
}

.con_img figure img {
     width: 100%;
}


/** end contact section **/

.read_more {
     font-size: 17px;
     background-color: #fff;
     color: #000;
     padding: 13px 0px;
     width: 100%;
     max-width: 190px;
     text-align: center;
     display: inline-block;
     transition: ease-in all 0.5s;
     border-radius: 10px;
}
.form_contril .contact .main_form {
     border: #5b5f61 solid 1px;
     margin-bottom: 20px;
     width: 100%;
     height: 45px;
     background: #fff;
     color: #5b5f61;
     font-size: 17px;
     border-top: 0;
     border-right: 0;
     border-left: 0;
 }
.read_more:hover {
     background: #000;
     color: #fff;
     border-radius: 26px;
     transition: ease-in all 0.5s;
}
.main_form {
     padding: 50px 50px;
     border: #5b5f61 solid 1px;
     border-radius: 40px;
     margin: 0px 80px;
 }

.site-header {
     position: absolute;
     padding: 50px 0 0;
     background-color: transparent;
     width: 100%;
     z-index: 3;
 }
 .overlay:before {
     content: '';
     background-color: rgba(255,255,255,0.5);
     height: 100%;
     width: 100%;
     position: absolute;
     top: 0;
     left: 0;
     z-index: 0;
 }
 html, body {
     width: 100%;
     height: 100%;
     margin: 0;
     padding: 0;
     font-family: 'Montserrat', sans-serif;
     color: #26272d;
 }
 
 .img-res {
     display: block;
     width: 100vw;
     height: 100vh;
     max-width: 100%;
     max-height: 100%;
     object-fit: cover;
 }
 
 /* Background colors */
 .gray-bg {
   background-color: #f5f5f8;
 }
 
 /* Margin and padding resets */
 .mb-10 {margin-bottom: 10px;}
 .mt-20 {margin-top: 20px;}
 .mt-50 {margin-top: 50px;}

 div.logo{
     
      margin-left: 80px;
 }
 a.btn.btn-border {
     line-height: 50px;
     min-width: 200px;
     font-size: 16px;
     font-weight: 300;
     border: 0;
     border-radius: 50px;
     color: #f0f1f7;
     background-color: rgb(53, 51, 51);
     padding: 0;
     transition: color 0.25s ease-in-out, background-color 0.25s ease-in-out;
     -moz-transition: color 0.25s ease-in-out, background-color 0.25s ease-in-out;
     -webkit-transition: color 0.25s ease-in-out, background-color 0.25s ease-in-out;
     -o-transition: color 0.25s ease-in-out, background-color 0.25s ease-in-out;
     -ms-transition: color 0.25s ease-in-out, background-color 0.25s ease-in-out;
 }
 .send_btn{
 line-height: 20px;
 min-width: 200px;
 font-size: 10px;
 font-weight: 200;
 border: 0;
 border-radius: 50px;
 color: #fafbff;
 background-color: rgb(53, 51, 51);
 padding: 0;
 transition: color 0.25s ease-in-out, background-color 0.25s ease-in-out;
 -moz-transition: color 0.25s ease-in-out, background-color 0.25s ease-in-out;
 -webkit-transition: color 0.25s ease-in-out, background-color 0.25s ease-in-out;
 -o-transition: color 0.25s ease-in-out, background-color 0.25s ease-in-out;
 -ms-transition: color 0.25s ease-in-out, background-color 0.25s ease-in-out;
}
 .hero-text p {
     position: relative;
     margin: 45px 0 30px;
     font-size: 20px;
     color: #26272d;
 }
 .row {
     display: -ms-flexbox;
     display: flex;
     -ms-flex-wrap: wrap;
     flex-wrap: wrap;
     margin-right: 10px;
     margin-left: 10px;
 }
 .contact .main_form .textarea {
     border: #505355 solid 1px;
     margin-bottom: 20px;
     width: 100%;
     height: 60px;
     background:white;
     color:gray;
     font-size: 17px;
     border-top: 0;
     border-right: 0;
     border-left: 0;
     
 }
 .copyright {
     padding: 30px 0;
     border-top: 1px solid rgba(38, 41, 44, 0.05);
 }
 
 .social-links a {
     line-height: 36px;
     padding: 5px 15px;
     font-size: 18px;
     border: 1px solid;
     border-radius: 50px;
 }
 
 .social-links a:hover {
     color: #fff;
 }
 
 .social-links a i {
     width: 18px;
     text-align: center;
 }
 
 a.twitter-bg {
     color: #55acee;
     border-color: #55acee; 
 }
 
 a.twitter-bg:hover {
     background-color: #55acee;
 }
 
 a.facebook-bg {
   color: #3b5998;
   border-color: #3b5998;
 }
 
 a.facebook-bg:hover{
   background-color: #3b5998;
 }
 
 a.pinterest {
   color: #dd4b39;
   border-color: #dd4b39;
 } 
 
 a.pinterest:hover{
   background-color: #dd4b39;
 } 
 
 a.linkedin-bg {
   color: #007bb5;
   border-color: #007bb5;
 }
 
 a.linkedin-bg:hover {
   background-color: #007bb5;
 }
 
 .copyright .text-right {
     padding: 4px 0;
 }
 
 .copyright p {
     font-size: 9px;
     font-weight: 400;
     text-transform: uppercase;
     color: #26272d;
 }
 
 .copyright p + p {
     margin-top: 2px;
 }
 .section-newsletter h2 {
     padding-bottom: 30px;
     margin: 0;
 }
 
 .newsletter-group {
     max-width: 550px;
 }
 
 .newsletter-group .form-control {
     padding-right: 125px;
 }
 
 .newsletter-group .btn {
     min-width: 120px;
 }
 img {
     max-width: 70%;
     height: auto;
     margin-right: 50px;
 }
 div.col-md-3 .col-sm-4 .col-xs-6{
      margin-right: 50px;
     text-align: center;
 }
 
.row {
     margin-right: -15px;
     margin-left: 10px;
 }


 /* FOOTER
================================================== */
.site-footer {
     background-color: #f5f5f8;
     padding-top: 100px;
 }
 
 .site-footer .site-title {
     display: inline-block;
     margin-bottom: 40px;
 }
 
 .site-footer h3 {
     font-size: 16px;
     text-transform: uppercase;
     margin:0 0 40px;
 }
 
 .site-footer > .container {
     padding-bottom: 170px;
 }
 
 .site-footer .list-unstyled li + li {
     margin-top: 20px;
 }
 
 .contact-links li {
     position: relative;
 }
 
 .contact-links li i {
     position: absolute;
     top: 50%;
     width: 20px;
     text-align: center;
     font-size: 18px;
     color: #8c8f94;
     transform: translateY(-50%);
     -moz-transform: translateY(-50%);
     -webkit-transform: translateY(-50%);
     -o-transform: translateY(-50%);
     -ms-transform: translateY(-50%);
 }
 
 .contact-links li a,
 .contact-links li p {
     margin-left: 40px;
 }
 
 .list-unstyled {
     margin-bottom: 0;
 }
 
 .list-unstyled li a,
 .list-unstyled li p {
     font-size: 16px;
     color: #8c8f94;
     font-weight: 300;
 }
 
 .list-unstyled li a:hover,
 .list-unstyled li.active a {
     color: #6fc754;
 }
 
 /* Copyright */
 .copyright {
     padding: 30px 0;
     border-top: 1px solid rgba(38, 41, 44, 0.05);
 }
 
 .social-links a {
     line-height: 36px;
     padding: 5px 15px;
     font-size: 18px;
     border: 1px solid;
     border-radius: 50px;
 }
 
 .social-links a:hover {
     color: #fff;
 }
 
 .social-links a i {
     width: 18px;
     text-align: center;
 }
 
 a.twitter-bg {
     color: #55acee;
     border-color: #55acee; 
 }
 
 a.twitter-bg:hover {
     background-color: #55acee;
 }
 
 a.facebook-bg {
   color: #3b5998;
   border-color: #3b5998;
 }
 
 a.facebook-bg:hover{
   background-color: #3b5998;
 }
 
 a.pinterest {
   color: #dd4b39;
   border-color: #dd4b39;
 } 
 
 a.pinterest:hover{
   background-color: #dd4b39;
 } 
 
 a.linkedin-bg {
   color: #007bb5;
   border-color: #007bb5;
 }
 
 a.linkedin-bg:hover {
   background-color: #007bb5;
 }
 
 .copyright .text-right {
     padding: 4px 0;
 }
 
 .copyright p {
     font-size: 9px;
     font-weight: 400;
     text-transform: uppercase;
     color: #26272d;
 }
 
 .copyright p + p {
     margin-top: 2px;
 }
 
 /* PAGES
 ================================================== */
 .subpage-site-section {
     padding: 60px 0;
 }
 
 .breadcrumb {
     background-color: transparent;
     position: relative;
 }
 
 .breadcrumb .active {
     color: #fff;
 }
 
 /* 
  * Portfolio
  */
 .portfolio-sorting li:nth-child(-n+3){
     margin-bottom: 5px;
 }
 
 .portfolio-sorting li a {
     line-height: 40px;
     min-width: 120px;
     font-size: 16px;
 }
 
 .portfolio-sorting li .active {
     background-color: #6fc754;
     color: #fff;  
     box-shadow: none;   
 }
 
 #grid {
     margin-top: 25px;
 }
 
 #grid .col-md-4 {
     display: none;
 }
 
 #loadMore {
     margin-top: 30px;
 }
 
 #loadMore.disabled {
     background-color: #eee;
     color: #000;
     opacity: 0.3;
 }
 
 /* 
  * Portfolio-item
  */
 .project-img {
     height: 480px;
 }
 
 .project-img + .project-img  {
     margin-top: 20px;
 }
 
 .project-info h5 {
     font-size: 18px;
     text-transform: uppercase;
     margin: 0;
 }
 
 .project-description,
 .project-date-category {
     margin: 30px 0 0;
 }
 
 .project-date-category p + p {
     margin-top: 10px;
 }
 
 .project-date-category p span {
     font-size: 14px;
     text-transform: uppercase; 
     color: #26272d;
     font-weight: 400;
 }
 
 .project-info .btn {
     margin-top: 25px;
     line-height: 40px;
     min-width: 120px;
 }
 
 .project-info .social-links {
     margin-top: 25px;
 }
 
 .section-related-projects {
     padding-top: 0;
 }
 
 /* 
  * Blog
  */
 .blog-post + .blog-post {
     margin-top: 60px;
 }
 
 .blog-post img {
     height: 480px;
 }
 
 .post-content,
 .post-content .text-right,
 .post-meta {
     margin-top: 25px;
 }
 
 .blog-post .post-title {
     padding: 0;
     margin: 0;
     font-size: 18px;
     font-weight: 600;
     text-transform: uppercase;
 }
 
 .post-content p {
     margin: 25px 0 0;
 }
 
 .post-content .post-title a {
     color: #26292c;
 }
 
 .post-content a {
     color: #8c8f94;   
 }
 
 .post-content .read-more {
     position: relative;
     padding-right: 30px;
     text-transform: uppercase;
 }
 
 .post-content .read-more:after {
     content: '';
     display: block;
     background-color: #8c8f94;  
     width: 20px;
     height: 2px;
     position: absolute;
     right: 0;
     top: 8px;
     transition: background-color 0.25s ease-in-out;
     -moz-transition: background-color 0.25s ease-in-out;
     -webkit-transition: background-color 0.25s ease-in-out;
     -o-transition: background-color 0.25s ease-in-out;
     -ms-transition: background-color 0.25s ease-in-out;
 }
 
 .post-content .read-more:hover:after {
     background-color: #6fc754; 
 }
 
 .blog-post a:hover + .post-content .post-title a,
 .post-content a:hover {
     color: #6fc754;
 }
 
 .post-meta {
     padding: 5px 0;
 }
 
 .post-meta span {
     padding: 6px 0;
 }
 
 .post-meta span + span {
     margin-left: 40px;
 }
 
 .post-meta span a {
     position: relative;
     padding: 6px 0 6px 40px;
 }
 
 .post-meta i,
 .post-author img {
     position: absolute;
     left: 0;
     top: 0;
 }
 
 .post-author img {
     height: 30px;
     width: 30px;
 }
 
 .post-meta i {
     font-size: 30px;
 }
 
 .post-category i {
     top: 1px;
 }
 
 .section-blog .ui-pagination {
     margin-top: 60px;
 }
 
 /* 
  * Blog post
  */
 /* Post Comments */
 .post-comments {
     margin-top: 40px;
 }
 
 .post-comments h3,
 .respond h3 {
     font-size: 16px;
     margin: 30px 0 15px;
     text-transform: uppercase;
 }
 
 .post-comment {
     padding-left: 70px;
     position: relative;
 }
 
 .post-comment + .post-comment,
 .replied + .post-comment {
     margin-top: 30px;
 }
 
 .replied {
     margin: 20px 0 0 70px;
     padding-top: 20px;
     border-top: 1px solid rgba(38,41,44, 0.05)
 }
 
 .post-comment img {
     width: 70px;
     height: 70px;
     position: absolute;
     left: 0;
     top: 0;
 }
 
 .post-comment-content-details {
     background-color: #f5f5f8;
     padding: 10px 0 10px 20px;
 }
 
 .post-comment-content-details p {
     display: inline-block;
     color: #8c8f94;
 }
 
 .post-comment-content-details p + p {
     margin: 0 0 0 20px;
 }
 
 .post-comment-date i {
     margin-right: 5px;
     line-height: 18px;
 }
 
 .comment {
     padding: 15px 0 0 20px;
 }
 
 .comment + .comment {
     margin-top: 0px;
 }
 
 .comment-reply {
     margin-top: 5px;
 }
 
 /* Respond */
 .respond .form-control + .btn {
     margin-top: 10px;
 }
 
 /* Sidebar */
 .sidebar {
     padding-left: 30px;
 }
 
 .widget + .widget {
     margin-top: 60px;
 }
 
 .widget-title {
     font-size: 18px;
     margin: 0 0 30px;
     text-transform: uppercase;
     letter-spacing: 1px;   
 }
 
 .widget .list-unstyled a:hover {
     padding-left: 15px;
 }
 
 .widget .list-unstyled li + li {
     margin-top: 20px;
 }
 
 .widget-categories li a span {
     float: right;
 }
 
 .widget-tags .list-unstyled li + li {
     margin-top: 10px;
     padding-top: 10px;
     border-top: 1px solid rgba(38,41,44,0.05)
 }
 
 /* 
  * Contact
  */
 /* Section: Contact-us */
 .section-contact-us h2 {
     font-size: 18px;
     text-transform: uppercase;
     padding-bottom: 50px;
     letter-spacing: 1px;
 }
 
 .section-contact-us .form-group label,
 .contact-info h3 {
     margin: 0 0 10px 20px;
     color: #26292c;
     font-size: 16px;
     font-weight: 300; 
 }
 
 .section-contact-us textarea {
     height: 130px;
 }
 
 .section-contact-us .btn {
     margin-top: 35px;
 }
 
 .contact-info {
     padding-left: 30px;
 }
 
 .contact-info h3 {
     margin-left: 0;
     color: #8c8f94;
 }
 
 .contact-info .list-unstyled li {
     font-size: 14px;
     font-weight: 300;
     color: #8c8f94;
 }
 
 .contact-info .list-unstyled + h3,
 .contact-info a + h3 {
     margin-top: 30px;
 }
 
 .section-contact-us .row + .form-group,
 .section-contact-us .form-group + .form-group {
     margin-top: 25px;
 }
 
 /* Section: map */
 .section-map {
   height: 500px;
   width: 100%
 }
 .container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
 }
 .subpage-site-section {
    padding: 60px 0;
}

.breadcrumb {
    background-color: transparent;
    position: relative;
}

.breadcrumb .active {
    color: #fff;
}
.site-header {
    position: absolute;
    padding: 50px 0 0;
    background-color: transparent;
    width: 100%;
    z-index: 3;
}

/* Site-logo */
.site-title {
    font-size: 18px;
    line-height: 26px;
    color: #26272d;
}

.site-title:hover {
    color: #26272d;   
}

.site-title span {
    font-weight: 700;
}

.site-title a:hover {
    color: #fff;
}

/* Navigation */
.navbar-collapse {
    text-align: center;
}

.navbar-nav {
    float: none;
    display: inline-block;
}

.navbar-nav > li > a, 
.slicknav_nav > li > a {
    padding: 0;
    font-size: 16px;
    position: relative;
    color: #26272d;
    line-height: 26px;
}

.site-header-white .navbar-nav > li > a,
.site-header-white .site-title {
    color: #fff;
}

.navbar-nav > li > a i {
    margin-left: 5px;
}

.navbar-nav > li + li {
    margin-left: 30px;
}

.nav .open > a, 
.nav .open > a:focus, 
.nav .open > a:hover,
.navbar-nav > li > a:hover,
.navbar-nav > li > a:focus,
.navbar-nav > li.active > a,
.navbar-collapse li a:hover,
.dropdown.open > a, 
.site-header-white .dropdown.open > a,
.dropdown-menu a:hover, 
.dropdown:hover > a, 
.dropdown-menu>li>a:focus,
.dropdown-menu li a:hover,
.slicknav_nav > li.active a,
.slicknav_open .slicknav_arrow,
.slicknav_nav > li a:hover {
    background-color: transparent;
    color: #6fc754;
}

.navbar-toggle {
    border-color: #fff;
    margin: 0 15px 0 0;
    position: relative;
    top: -1px;
}

.navbar-toggle:hover,
.navbar-toggle[aria-expanded=true] {
    background-color: #fff;
    border-color: #000;
    cursor: pointer;
}

.navbar-toggle:hover .icon-bar,
.navbar-toggle[aria-expanded=true] .icon-bar {
    background-color: #000;
}

.navbar-toggle  .icon-bar {
    background-color: #fff;
}

.navbar-nav .dropdown-menu {
    display: block;
    opacity: 0;
    visibility: hidden;
    border-radius: 0;
    min-width: 130px;
    border: 0;
    border-top: 5px solid #6fc754;
    top: 140%;
    transition: all 0.4s;
    -moz-transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -ms-transition: all 0.4s;
}

.navbar-nav li a:hover + .dropdown-menu,
.navbar-nav .dropdown-menu:hover {
    opacity: 1;
    visibility: visible;
    top: 100%;
    transition-delay: 0s;
}

.dropdown-menu li a {
    padding: 5px 15px;
    position: relative;
    left: 0;
}

.dropdown-menu li a:hover {
    left: 15px;
}
 